{% extends 'base.html.twig' %}

{% block body %}
<body class="body-bg">

<div class="middle-box-index box-connection p-w-xl text-center">
    <div>
        <a href="{{ path('messages') }}" class="m-t-lg ibox-content button-enter block full-width m-b"><button class="btn-enter btn btn-link">ENTREZ!</button></a>
    </div>
</div>
</body>
{% endblock %}

{% block stylesheets %}

{% endblock %}
